<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Weather Application Edit</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!--  BEGIN STYLE -->
<style>
table, th, td {
	border: 1px solid black;
	padding: 1px;
}
</style>
<!--  END STYLE -->
</head>
<body>
	<div class="container">
		<div align=right>
			<form th:action="@{/logout}" method="get">
				<button class="btn btn-md btn-primary active" name="registration"
					type="Submit">Logout</button>

			</form>
		</div>

		<div class="panel-group" style="margin-top: 40px">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<span th:utext="${userName}"></span>
				</div>
			</div>
		</div>


		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<form autocomplete="off" action="#"
					th:action="@{/edit/{id}(id=${weatherHistory.id})}"
					th:object="${weatherHistory}" method="post" class="form-horizontal"
					role="form">
					<div class="form-group">
						<div class="col-sm-9">
							<label for="id">Weather ID</label> <input type="number"
								th:field="*{id}" placeholder="ID" class="form-control" readonly />
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-9">
							<label for="user.Id">User ID</label> <input type="text"
								th:field="*{user.Id}" placeholder="USER ID" class="form-control"
								readonly />
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-9">
							<label for="cityName">City Name</label> <input type="text"
								th:field="*{cityName}" placeholder="City Name"
								class="form-control" readonly />
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-9">
							<label for="weatherDescription">Weather Description</label> <input
								type="text" th:field="*{weatherDescription}"
								placeholder="Weather Description" class="form-control" readonly />
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-9">
							<label for="currentTemperature">Current Temperature</label> <input
								type="number" step="0.01" th:field="*{currentTemperature}"
								placeholder="Current Temperature" class="form-control" />
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-9">
							<label for="minTemperature">Min Temperature</label> <input
								type="number" step="0.01" th:field="*{minTemperature}"
								placeholder="Min Temperature" class="form-control" />
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-9">
							<label for="maxTemperature">Max Temperature</label> <input
								type="number" step="0.01" th:field="*{maxTemperature}"
								placeholder="Max Temperature" class="form-control" />
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-9">
							<label for="sunrise">Sunrise</label> <input type="time"
								th:field="*{sunrise}" placeholder="Sunrise" class="form-control" />
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-9">
							<label for="sunset">Sunset</label> <input type="time"
								th:field="*{sunset}" placeholder="Sunset" class="form-control" />
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-9">
							<button type="submit" class="btn btn-primary btn-block">Update
							</button>
						</div>
					</div>
					<h2>
						<span class="text-success" th:utext="${successMessage}"></span>
					</h2>
				</form>
			</div>
		</div>
	</div>
</body>
</html>